<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>
  
  <typeAliases> <!--dto별칭주기-->
  	<typeAlias type="com.kosa.ucr.course.dto.Course" alias="Course"/>
  	<typeAlias type="com.kosa.ucr.course.dto.Major" alias="Major"/>
    <typeAlias type="com.kosa.ucr.user.dto.Professor" alias="Professor"/>
    <typeAlias type="com.kosa.ucr.user.dto.Student" alias="Student"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="ucr"/>
        <property name="password" value="ucr"/>
      </dataSource>
    </environment>
  </environments>

  <mappers> <!--xml파일경로설정-->
    <mapper resource="com/kosa/ucr/sql/SearchCourse.xml"/>
    <mapper resource="com/kosa/ucr/sql/Wishlist.xml"/>
    <mapper resource="com/kosa/ucr/sql/ProfessorCourse.xml"/>
    <mapper resource="com/kosa/ucr/sql/StudentList.xml"/>
    <mapper resource="com/kosa/ucr/sql/Registration.xml"/>
  </mappers>

</configuration>

